absl-py
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
Babel
backcall
beautifulsoup4
bidict
bleach
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
cryptography
cycler
cymem
datasets
debugpy
decorator
defusedxml
dill
distro
dnspython
docopt
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
eventlet
executing
faiss-cpu
fastapi
fastjsonschema
filelock
Flask
Flask-Cors
Flask-SocketIO
flatbuffers
fonttools
fpdf
fqdn
frozenlist
fsspec
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h5py
httpcore
httplib2
httpx
huggingface-hub
idna
imutils
ipykernel
ipython
ipywidgets
isodate
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
langcodes
language_data
libclang
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
more-itertools
mpmath
multidict
multiprocess
murmurhash
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
openai
opencv-python
opt_einsum
optree
overrides
packaging
pandas
pandocfilters
parso
pickleshare
pillow
pinecone-client
pinecone-plugin-inference
pinecone-plugin-interface
pipreqs
platformdirs
plotly
preshed
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic_core
pydeck
pydub
Pygments
PyJWT
pymongo
pyparsing
pytesseract
python-dateutil
python-dotenv
python-engineio
python-json-logger
python-socketio
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
Send2Trash
sentence-transformers
setuptools
shellingham
simple-salesforce
simple-websocket
six
smart-open
smmap
sniffio
soundfile
soupsieve
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
srsly
stack-data
starlette
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow_intel
termcolor
terminado
tf_keras
thinc
threadpoolctl
tinycss2
tokenizers
toml
torc
torch
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
typing_extensions
tzdata
uri-template
uritemplate
urllib3
uvicorn
vaderSentiment
wasabi
watchdog
wcwidth
weasel
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wordcloud
wrapt
wsproto
xgboost
xxhash
yarg
yarl
zeep
